.chat-user-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-user-info-container {
  display: flex;
  align-items: center;
}

.chat-user-info-login {
  padding-left: 22px;
}

.chat-user-delete-button {
  background-color: transparent;
  color: var(--color-error);

  &:hover {
    color: var(--color-primary);
  }
}
