.errorWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorTitle {
  font-size: 40px;
  font-weight: 500;
}

.errorDescription {
  font-size: 20px;
  margin-top: 20px;
  font-weight: 500;
}

.errorLink {
  margin-top: 80px;
}
