.editFormContainer {
  height: 100%;
  width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editFormtitle {
  font-size: 24px;
  margin-bottom: 60px;
}

.submitButton {
  width: 280px;
  height: 37px;
  margin-bottom: 18px;
}

.cancelButton {
  color: inherit;
  background-color: transparent;
}
