.editFormContainer {
  height: 100%;
  width: 510px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.editProfileAvatarWrapper {
  width: 130px;
  height: 130px;
  margin-bottom: 60px;
}

.submitButton {
  width: 280px;
  height: 37px;
  margin: 80px 0 18px;
}

.cancelButton {
  color: var(--color-primary);
  background-color: transparent;
}
